@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--trans-white: hsla(0, 0%, 100%, 0.75);
	--light-gray: hsl(0, 0%, 95%);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--light-gray);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-family: 'Lexend Deca', sans-serif;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 3em 1em;
}

.column {
	display: flex;
	flex-direction: column;
	padding: 3em 2.5em;
}

.column:nth-of-type(1) {
	background-color: var(--bright-orange);
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}

.column:nth-of-type(2) {
	background-color: var(--dark-cyan);
}

.column:nth-of-type(3) {
	background-color: var(--very-dark-cyan);
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.text {
	margin-bottom: 0;
}

.icon {
	height: 50px;
	width: auto;
	align-self: flex-start;
}

.title {
	font-family: 'Big Shoulders Display';
	color: var(--light-gray);
	margin: 1em 0 .5em 0;
	font-size: 2.5rem;
	text-transform: uppercase;
}

.text {
	color: var(--trans-white);
	line-height: 1.7;
}

.text-container {
	margin-bottom: 3em;
}

.btn {
	width: 70%;
	height: 4em;
	background-color: white;
	border: none;
	border-radius: 2.5em;
	font-family: 'Lexend Deca';
	font-size: 1rem;
}

#orange {
	color: var(--bright-orange);
	transition: all 300ms ease;
}

#orange:hover {
	border: 2px solid white;
	background-color: var(--bright-orange);
	color: white;
}

#cyan {
	color: var(--dark-cyan);
	transition: all 300ms ease;
}

#cyan:hover {
	border: 2px solid white;
	background-color: var(--dark-cyan);
	color: white;
}

#dark-cyan {
	color: var(--very-dark-cyan);
	transition: all 300ms ease;
}

#dark-cyan:hover {
	border: 2px solid white;
	background-color: var(--very-dark-cyan);
	color: white;
}

@media screen and (min-width: 768px) {
	.container {
		flex-direction: row;
	}

	.column:nth-of-type(1) {
		border-top-left-radius: 1em;
		border-top-right-radius: 0;
		border-bottom-left-radius: 1em;
	}

	.column:nth-of-type(3) {
		background-color: var(--very-dark-cyan);
		border-top-right-radius: 1em;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 1em;
	}

	.icon {
		height: 50px;
	}

	body {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}
}

@media screen and (min-width: 992px) {
	.container {
		width: 85%;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 75%;
	}
}

@media screen and (min-width: 1400px) {
	.container {
		width: 60%;
	}
}